{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% set icon = item.icon is empty ? 'no_icon.jpg' : item.icon %}
            <h1><img src="{{ asset('assets/img/icons/' ~ icon) }}" alt="{{ item.name }}"/> {{ item.name }}</h1>
            {% if item.addName is not empty %}
                <p class="lead">{{ item.addName }}</p>
            {% endif %}
            {% if item.description is not empty %}
                <p class="lead">{{ item.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if items is empty and spoil is empty %}
                <p class="text-center"><strong>This item cannot be dropped or spoiled from any NPC.</strong></p>
            {% else %}
                <ul class="nav nav-tabs" id="tabs">
                    {% if items is not empty %}
                        <li role="presentation" class="active"><a data-toggle="tab" href="#drop"><h2>Drop</h2></a></li>
                    {% endif %}
                    {% if spoil is not empty %}
                        <li role="presentation"{% if items is empty %} class="active"{% endif %}><a data-toggle="tab" href="#spoil"><h2>Spoil</h2></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {% if items is not empty %}
                    <div id="drop" class="tab-pane fade in active">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>NPC Name</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Chance (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drop in items %}
                                <tr>
                                    <td><a href="{{ path('npc', {id: drop.npc.id}) }}">{{ drop.npc.name }}{% if drop.npc.description is not empty %} ({{ drop.npc.description }}){% endif %}</a> <a href="{{ path('npc_loc', {id: drop.npc.id}) }}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></td>
                                    <td>{{ drop.min }}</td>
                                    <td>{{ drop.max }}</td>
                                    <td>{{ drop.chance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if spoil is not empty %}
                    <div id="spoil" class="tab-pane fade">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>NPC Name</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Chance (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drop in spoil %}
                                <tr>
                                    <td><a href="{{ path('npc', {id: drop.npc.id}) }}">{{ drop.npc.name }}{% if drop.npc.description is not empty %} ({{ drop.npc.description }}){% endif %}</a> <a href="{{ path('npc_loc', {id: drop.npc.id}) }}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></td>
                                    <td>{{ drop.min }}</td>
                                    <td>{{ drop.max }}</td>
                                    <td>{{ drop.chance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
