{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ npc.name }} <a href="{{ path('npc_loc', {id: npc.id}) }}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></h1>
            {% if npc.description is not empty %}
                <p class="lead">{{ npc.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if items is empty and spoil is empty and herbs is empty %}
                <p class="text-center"><strong>NPC doesn't have any drops.</strong></p>
            {% else %}
            <ul class="nav nav-tabs" id="tabs">
                {% if items is not empty %}
                    <li role="presentation" class="active"><a data-toggle="tab" href="#drop"><h2>Drop</h2></a></li>
                {% endif %}
                {% if spoil is not empty %}
                    <li role="presentation"{% if items is empty %} class="active"{% endif %}><a data-toggle="tab" href="#spoil"><h2>Spoil</h2></a></li>
                {% endif %}
                {% if herbs is not empty %}
                    <li role="presentation"{% if items is empty and spoil is empty %} class="active"{% endif %}><a data-toggle="tab" href="#herbs"><h2>Herbs</h2></a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {% if items is not empty %}
                    <div id="drop" class="tab-pane fade in active">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Chance (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drop in items %}
                                <tr>
                                    {% set icon = drop.item.icon is empty ? 'no_icon.jpg' : drop.item.icon %}
                                    <td><img src="{{ asset('assets/img/icons/' ~ icon) }}" alt="{{ drop.item.name }}"/> <a href="{{ path('item', {id: drop.item.id}) }}">{{ drop.item.name }}</a></td>
                                    <td>{{ drop.min }}</td>
                                    <td>{{ drop.max }}</td>
                                    <td>{{ drop.chance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if spoil is not empty %}
                    <div id="spoil" class="tab-pane {% if items is empty %} fade in active{% else %} fade{% endif %}">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Chance (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drop in spoil %}
                                <tr>
                                    {% set icon = drop.item.icon is empty ? 'no_icon.jpg' : drop.item.icon %}
                                    <td><img src="{{ asset('assets/img/icons/' ~ icon) }}" alt="{{ drop.item.name }}"/> <a href="{{ path('item', {id: drop.item.id}) }}">{{ drop.item.name }}</a></td>
                                    <td>{{ drop.min }}</td>
                                    <td>{{ drop.max }}</td>
                                    <td>{{ drop.chance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if herbs is not empty %}
                    <div id="herbs" class="tab-pane {% if items is empty and spoil is empty %} fade in active{% else %} fade{% endif %}">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Herb Name</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Chance (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drop in herbs %}
                                <tr>
                                    {% set icon = drop.item.icon is empty ? 'no_icon.jpg' : drop.item.icon %}
                                    <td><img src="{{ asset('assets/img/icons/' ~ icon) }}" alt="{{ drop.item.name }}"/> <a href="{{ path('item', {id: drop.item.id}) }}">{{ drop.item.name }}</a></td>
                                    <td>{{ drop.min }}</td>
                                    <td>{{ drop.max }}</td>
                                    <td>{{ drop.chance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
