{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ npc.name }}</h1>
            {% if npc.description is not empty %}
                <p class="lead">{{ npc.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="aden-map-bg">
                {% if data %}
                    <img class="position-img" src="data:image/png;base64,{{ data }}">
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}